extends includes/layout.pug

block content
  include ./includes/mixins/article-sort.pug
  #archive
    .article-sort-title= `${_p('page.articles')} - ${getArchiveLength()}`
    +articleSort(page.posts)
    include includes/pagination.pug
  script.
    function initWaline (pageviewCount) {
      pageviewCount({
        serverURL: '!{theme.waline.serverURL}',
        update: false,
      });
    }
    if (typeof Waline === 'object') initWaline(Waline.pageviewCount)
    else import('/custom/waline_pv.js').then(({ pageviewCount }) => initWaline(pageviewCount))
